.titulo{
	padding: 50px;
	text-align: center;
    background: #9b9c9c;
	
	font-size: 22px;
    text-decoration: none;
}
h2{
	text-align: center;
    background: #c4cfd3;

}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}
nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

body{
	background: hsl(0, 7%, 92%);

}
.dog{
	width: 100%;
  
}
.w{
	width: 5%;
}
.e{
	width: 10%
}
.t{
	width: 8%
}
h3{
    font-size: 20px;

 }
.pett{
    width: 100%;
}
.itens{
    text-align: center;
    font-size: 20px;
}
.m{
    font-size: 50px;
   
}
nav a:hover{ /*active*/
    color: #293497;
    text-decoration: underline;
}

main{
    width: 940px;
    margin: 0 auto;
}
form label{
display: block;
font-size: 20px;
margin: 0 0 10px;
border-color: #2dc619;
}
form input{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px ;
    width: 50%;
}
.copyright{
    color: #161414;
    font-size: 13PX;
    margin: 20PX 0 0 ;
}
footer{
    text-align: center;
    background-color:hsl(239, 44%, 33%) ;
}
.pousaddd{
    width: 100%;

}
.contatos li h2:hover{
    font-size: 50px;
}

#centro{
    display: flex;
}

.missaoTexto{
    display: inline-block;
    text-align: left;

}
#MissaoTitulo{
    font-size: 20px;
}

